In [2]:
class Student:
    pass

harry = student()
larry = student()

harry.name = "Harry"
harry.std = 10
harry.section = 1

print(harry.std)

10

In [3]:
class Student:
    pass

harry = student()
larry = student()

harry.name = "Harry"
harry.std = 10
harry.section = 1

print(harry.name)

Harry

In [4]:
class Student:
    pass

harry = student()
larry = student()

harry.name = "Harry"
harry.std = 10
harry.section = 1
larry.std = 5

print(harry.std, larry.std)

10 5

In [5]:
class Student:
    pass

harry = student()
larry = student()

harry.name = "Harry"
harry.std = 10
harry.section = 1
larry.subjects = ["Hindi","Maths","English"]

print(harry.std,larry.subjects)

10 ['Hindi', 'Maths', 'English']

In [6]:
class Student:
    pass

harry = student()
larry = student()

harry.name = "Harry"
harry.std = 10
harry.section = 1
larry.subjects = ["Hindi","Maths","English"]

print(larry.name)

AttributeError: 'student' object has no attribute 'name'

In [ ]:
INSTANCE & CLASS VARIABLES

In [7]:
class Employee:
    no_of_leaves =8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 200
rohan.role = "Student"
print(harry.no_of_leaves)

8

In [8]:
class Employee:
    no_of_leaves =8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 200
rohan.role = "Student"
print(harry.no_of_leaves)
Employee.no_of_leaves = 9
print(harry.no_of_leaves)

8
9

In [9]:
class Employee:
    no_of_leaves =8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 200
rohan.role = "Student"
print(harry.no_of_leaves)
rohan.no_of_leaves = 9
print(harry.no_of_leaves)

8
8

In [10]:
class Employee:
    no_of_leaves =8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 200
rohan.role = "Student"
print(harry.no_of_leaves)
print(rohan.__dict__)
rohan.no_of_leaves = 9
print(rohan.__dict__)
print(harry.no_of_leaves)

8
{'name': 'Rohan', 'salary': 200, 'role': 'Student'}
{'name': 'Rohan', 'salary': 200, 'role': 'Student', 'no_of_leaves': 9}
8

In [11]:
class Employee:
    no_of_leaves =8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 200
rohan.role = "Student"
print(harry.no_of_leaves)
print(rohan.__dict__)
rohan.no_of_leaves = 9
print(Employee.__dict__)
print(harry.no_of_leaves)

8
{'name': 'Rohan', 'salary': 200, 'role': 'Student'}
{'__module__': '__main__', 'no_of_leaves': 8, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
8

In [12]:
class Employee:
    no_of_leaves =8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 200
rohan.role = "Student"
print(harry.no_of_leaves)
print(rohan.__dict__)
Employee.no_of_leaves = 9
print(Employee.__dict__)
print(harry.no_of_leaves)

8
{'name': 'Rohan', 'salary': 200, 'role': 'Student'}
{'__module__': '__main__', 'no_of_leaves': 9, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
9